.article {
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  &-properties {
    text-align: center;
    margin-bottom: 20px;
    .article-property {
      &:not(:last-child):after{
        content: '\00a0\00a0•\00a0\00a0';
      }
      color: darken(white, 25%);
      font-size: .97em;
      a{
        color: darken(white, 25%);
        text-decoration: none;
        border-bottom: 1px dashed darken(white, 25%);
        &:hover{
          color: $link-hover-color;
          border-bottom: 1px dashed $link-hover-color;
        }
      }
    }
  }
  &-content {
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: $font-secondary;
  }
  &-action{
    float:right;
    &:after{
      @include clearfix;
    }
  }
}