#portfolio {
  .portfolio {
    margin-bottom: 50px;
    .title {
      text-align: center;
      margin-bottom: 10px;
    }
    .features {
      font-size: 1.1em;
      text-align: center;
      margin-bottom: 20px;
      .feature {
        .icon {
          vertical-align: -2px;
          color: $brand-success;
          padding-right: 10px;
        }
        display: inline-block;
        text-wrap: avoid;
        color: black;
        background: darken(white, 3%);
        border: 1px solid darken(white, 8%);
        padding: 5px 10px;
        margin: 5px 3px;
      }
    }
    .image {
      margin: 10px 0;
    }
    .content {
      margin: 10px 0;
    }
    &:nth-child(even) {
      .image {
        float: right;
      }
      .content {
        float: left;
      }
    }
    &:nth-child(odd) {
      .image {
        float: left;
      }
      .content {
        float: right;
      }
    }
    &:after {
      @include clearfix;
    }
  }
}

.mac{
  position: relative;
  width: 100%;
  &__content{
    position:absolute;
    top: 8.5%;
    left:15.6%;
    width: 69%;
    max-height: 80%;
    overflow-y: auto;
    height: 100%;
    img{
      margin-right: -8px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.mobile{
  position: relative;
  &__content{
    position:absolute;
    top: 13.45%;
    left:14.28%;
    width: 70.8%;
    height: 71.5%;
    overflow-y: auto;
    img{
      margin-right: -8px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}